<div id="wrap">
  <div class="container">
    <div class="row" style="padding: 40px 40px 40px 135px;">
      <div>
        <div>
          <h1 style="padding-bottom: 10px;">Welcome back, pilot.</h1>
        </div>
        <div>
          <p class="lead">
            Enter your username and password.
          </p>
        </div>
        <div>
          <form action='/login' method='post'>
            <fieldset>
              <div>
                <input class="input-xlarge span4" type='text' placeholder="hello@me.com" name="email"/>
              </div>
              <div>
                <input class="input-xlarge span4" type='password' placeholder="password"name='password'>
              </div>
              <div>
                <input type='Submit' class='btn btn-primary span4'/>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div>
        <p class="muted credit">Don't have an account yet? Register <a href="/register">here</a>.</p>
      </div>
    </div>
    <div id="push"></div>
  </div>
</div>
<%= erb :footer %>