<div id="wrap">
  <div id="container">
    <div class="row" style="padding: 40px 40px 40px 135px;">
      <h1>Here is your link.</h1>
      <p><a href="/dashboard/<%= @user.email %>/<%= @user_url.shortened %>">http://jetfuel.com/<%= @user_url.shortened %></a></p>
    </div>
  </div>
</div>