<div id="wrap">
  <div id="container">
    <div class="row" style="padding: 40px 40px 40px 135px;">
      <h1>Your account has been created.</h1>
      <p class="lead">Welcome. You can go to your dashboard by clicking on the link below.</p
      <p><a href="/dashboard/<%= @user.email %>">Go to your dashboard.</a></p>
    </div>
  </div>
</div>